.custom-input {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.custom-input input {
    width: calc(100% - 40px); 
    padding-left: 40px;
    border: none;
    border-bottom: 1px solid #ccc; 
    outline: none;
}

.custom-input .icon {
    z-index: 10;    
    margin-right: -20px; 
}

.custom-input .icon svg {
    width: 20px;
    height: 20px;
}

.custom-input .error {
    position: absolute;
    left: 9%; 
    bottom: -20px; 
    width: 100%;
}